<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-5 px-5 px-sm-0 mx-auto">
      <div class="mx-auto">
        <div style="text-align:center;">
          <h1>About</h1>
          <p>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
            お子様からお年寄りの方までお召し上がりいただけるよう、</br>
            様々なバリエーションをご用意しております。</br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でも</br>
            ご注文いただけます。ぜひぜひご注文ください
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mx-auto" >
        <img alt="cakeshop" height="400" src="/imge/images.jfif" width="450" />
    </div>
  </div>