<h2>会員情報編集</h2>

<%= form_with(model: @customer, url:admin_customer_path, local: true ,method: :patch) do |f| %>
  <div class="form-group" >
    <%= f.label :"会員ID" %>
    <%= f.label :"#{@customer.id}" %>
  </div>
  
  
  