<<<<<<< HEAD:app/assets/stylesheets/admin/orders.scss
// Place all the styles related to the admin/Orders controller here.
=======
// Place all the styles related to the homes controller here.
>>>>>>> fdb657597ac3df900a17ddf084ac84ab7910fc17:app/assets/stylesheets/homes.scss
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
