/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import"bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  /*padding: 0;*/
  box-sizing: border-box;
}

header, body, footer {
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}



.big-container {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}


.header {
  background-color: lightsalmon;
  width: 100%;
  height: 100px;
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.top-container {
  width: 100%;
  margin: auto, 30px;
}


.rogo {
  float: left;
  width: 400px;
  height: 100px;
  background-image: url(rogo.jpeg);
  text-align: left;
  background-size: cover;

}

nav {
  text-align: right;
}

.wrapper {
  position: relative;
}


.body{
  min-height: calc(100vh - 100px);
  padding-bottom: 30px;
  position: relative;
}

.button {
  background-color: gold;
  color: white;
  width: 40px;
  height: 40px;
  border-radius:30px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
}

.nav-list {
  padding: 10px 0;
  margin: 0 auto;
  color: white;
  text-align: right;
}

.menu {
  text-align: center;
}

.search{
  text-align: right;
  margin-top: 15px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  padding: auto;
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.index-title {
  background-color: lightseagreen;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.new-form-table, .table, .text-right, .col-xs-4, .edit-genre-form, .show-title {
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.push {
  height: 100px;/*フッターと同じ高さに指定*/
}

.footer {
  background-color: lightsalmon;
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
  position: absolute;
  bottom: 0;
  padding: auto;
}
