header, body, footer {
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.header {
  background-color: lightsalmon;
  width: 100%;
  height: 100px;
}

.Editlink {
  text-decoration: none;
}

.button {
  background-color: gold;
  color: white;
  width: 40px;
  height: 40px;
  border-radius:30px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
}

.nav-list {
  padding: 10px 0;
  margin: 0 auto;
  color: white;
}

.menu {
  text-align: center;
}

.search{
  text-align: right;
  margin-top: 15px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  padding: auto;
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.index-title {
  background-color: lightseagreen;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.new-form-table, .table, .text-right, .col-xs-4, .edit-genre-form, .show-title {
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

.footer {
  background-color: lightsalmon;
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
  font-family: "M PLUS Rounded 1c", cursive, sans-serif;
}

