.header {
  background-color: beige;
  width: 100%;
  height: 60px;
}

.Editlink {
  text-decoration: none;
}

.button {
  background-color: darkturquoise;
  color: white;
  width: 40px;
  height: 40px;
  border-radius:30px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  padding: auto;
}

.index-title {
  background-color: salmon;
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer {
  background-color: beige;
  width: 100%;
  height: 30px;
  color: salmon;
  text-align: center;
}